body {
  font-family: Arial, sans-serif;
  background: url("https://static.vecteezy.com/system/resources/previews/009/362/398/original/blue-dynamic-shape-abstract-background-suitable-for-web-and-mobile-app-backgrounds-eps-10-vector.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.85); /* transparent white */
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

